<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!--<link rel="stylesheet" type="text/css" href="../../static/css/teste_external.css"> -->
</head>
<body>
    <div align="center">django css</div>
    <pre>
        html - 구조 레이아웃
        css - 표현
        javascript - 동작

        선택자(selector) 란? css가 적용될 대상(tag, in, class, *... etc)
        외부 스타일시트를 적용할 때는 link 태그를 head 태그안에 선언하고 href속성을 이용해서 경로 잡는다. 파일 패스를 정의
    </pre>

    <ul>
        <li><a href="../external" >외부스타일시트 적용</a></li>
        <li><a href="../selector" >선택자 적용</a></li>
        <li><a href="../descendant">선택자(후손, 자손, 그룹) 적용</a></li>
        <li><a href="../box" >박스모델</a></li>
        <li><a href="../layout" >레이아웃</a></li>
    </ul>
</body>
</html>