<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link type="text/css" rel="stylesheet" href="{% static 'css/selector_external.css' %}"
</head>
<body>
     <pre>
       태그에 정의되는 class 속성은 css의 클래스 선댁자를 사용하기 위해서 사용됨.
         태그에 정의되는 id 속성은 css의 아이디 선택자를 사용하기 위해서 사용됨.
     </pre>

     <h1 class ="header">문서의 헤더를 정의하는 태그입니다</h1>
     <h2 class ="header01">문서의 헤더를 정의하는 태그입니다</h2>
     <h3 class ="header">문서의 헤더를 정의하는 태그입니다</h3>
     <h4>문서의 헤더를 정의하는 태그입니다</h4>
     <h5>문서의 헤더를 정의하는 태그입니다</h5>
     <h6 id ="ai">문서의 헤더를 정의하는 태그입니다</h6>
     <h7 id="ai">문서의 헤더를 정의하는 태그입니다</h7>
     <p/>
    <input type="text" name="id">
    <input type="password" name="password">






</body>
</html>